streamlit
langchain
langchain-community
langchain-core
langchain-text-splitters
sentence-transformers
chromadb
faiss-cpu
langchain-huggingface
huggingface-hub
unstructured
bs4
arxiv
wikipedia
python-dotenv
validators==0.28.1
